$b1: #232323;
$b2: #666;
$b3: #898989;
$g1: #008060;
$g2: #e7f7f1;
$g3: #ecf9f4;
$g4: #d7ebe4;
$g5: #ddf0e9;
$bl1: #007aff;

$z: 11111111111111;

body [sniff-ext] {
  .ant-tooltip,
  .ant-popover {
    z-index: $z;
    max-width: 99999px;
  }
  .ant-tooltip-inner {
    padding: 10px;
  }
  .ant-popover-inner-content {
    padding: 0px;
  }
  .ant-message {
    z-index: $z;
  }
  .ant-modal-root {
    position: relative;
    z-index: #{$z - 10};
  }
  .ant-modal-content {
    border-radius: 10px;
  }
  .ant-modal-close-x {
    width: 62px;
    font-size: 22px;
    line-height: 62px;
  }
  .ant-modal-body {
    padding: 20px;
  }

  input {
    &:autofill {
      background: #fff; // 支持火狐
    }
    // 支持chrome
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 50000s ease-in-out 0s;
      -webkit-text-fill-color: #232323 !important;
    }
  }

  .ant-input {
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--b3);
    transition: all 0.2s linear;
    font-size: 12px;
    caret-color: var(--g1);
  }

  .ant-input:focus,
  .ant-input:hover {
    background: #fcfdfd;
    box-shadow: inset 0px 5px 8px 0px #dfefeb, inset 0px -1px 0px 0px #ffffff;
  }

  .ant-input:hover {
    border: 1px solid var(--b3);
  }

  .ant-input:focus {
    border-color: transparent;
  }
}
